<!DOCTYPE html>
<html lang="en">      <!-- Remember to input language -->

<head>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edvid Test</title>

  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudfare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <!-- note: babel converts HTML to valid JS. -->
</head>

<body>
  <header>
    <h1>Welcome!</h1>
  </header>

  <nav>
    <!-- navigation bar here -->
  </nav>
  
  <main>
    <!-- Here is our page's main content -->
    
    <section id="search">
      <!-- section contains a search form -->

      <form method="get" role="search" action="/search/" id="sitesearch">

                                 <!-- label input using "label for" -->
        <p class="search"><span><label for="q">Search:</label> <input type="text" name="q" id="q">

                                                                <!-- example of alt-text -->
          <input type="image" src="/media/template/search.svg" alt="Submit Search"></span></p>
      </form>
		                                     <!-- descriptive links -->
      <p class="intro"><a href="/intro">Introduction to Web Accessibility</a></p>
      <p class="training"><a href="/training">WebAIM Training</a></p>

    </section>

    <!-- It contains an article -->
    <article>
      <h2>Article heading</h2>
      <!-- article content in here -->
    </article>
    
    <aside>
      <h2>Related</h2>
      <!-- aside content in here -->
    </aside>
  
  </main>

  <!-- And here is our main footer that is used across all the pages of our website -->
  <footer>
  <!-- footer content in here -->
  </footer>

<!-- During production switch scripts  -->
<!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->
<!-- Scripts that we write down here  -->
<script type="text/jsx" src = "/static/hello.jsx"></script></script>
</body>

</html>
